.App {
  display: grid;
  place-content: center;
}

.Login {
  background-color: blanchedalmond;
  padding: 1em;
  margin: 1em;
  margin-bottom: 2em;
  border-radius: 0.7em;
  border: 0.5em solid orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button--log-out {
  margin-inline: 1em;
}

.notes-list {
  background-color: honeydew;
  padding: 2em;
  border-radius: 0.7em;
  border: 0.5em solid rebeccapurple;
}

.button--show-all {
  color: honeydew;
  background-color: rebeccapurple;
  padding: 0.5em;
  margin: 2em;
  border-radius: 0.5em;
  border: none;
}

.button--show-all:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.button--show-all:active {
  filter: brightness(1.5);
}

.form--new-note {
  background-color: blanchedalmond;
  margin: 3em;
  padding: 1em;
  border-radius: 0.7em;
  border: 0.5em solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



/* Note component */

.Note {
  margin-bottom: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.note--importance-section {
  font-size: 0.8em;
  margin-block: 0.1em;
  margin-inline: 0.5em;
  opacity: 0.5;
}

.button--toggle-importance {
  font-size: 0.8em;
}

.button--delete {
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  border-radius: 1em;
}